@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300,100italic,100);

.separator {
  border: 0.5px solid #D3D4DB;
  margin: 15px 52px 20px 52px;
  background-color: #D3D4DB;
}

.container {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.image {
  margin-left: 52px;
  width: 100px;
  height: 100px;
  border-radius: 10%;
}

.textContainer {
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  margin-left: 28px;
  font-family: 'Roboto';

}

.name {
  padding-bottom: 12.5px;
  padding-right: 15px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #434652;
}

.favoriteBtn {
  background-color: white;
  border: none;
  height: 20px;
  width: 22px;
}

.iconFavoriteTrue {
  background-image: url("src/images/favoriteTrue.png");
  align-items: center;
  padding-left : 12px;
  padding-top : 1px;
  padding-bottom : 10px;
  padding-right: 5px;
  background-repeat : no-repeat;
}

.iconFavorite {
  background-image: url("src/images/favorite.png");
  align-items: center;
  padding-left : 12px;
  padding-top : 1px;
  padding-bottom : 10px;
  padding-right: 5px;
  background-repeat : no-repeat;
}

.description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #757986;
}