@import url('http://fonts.cdnfonts.com/css/sf-ui-display');



.btnContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 189px;
  padding-left: 50px;
  width: 138px;
  height: 36px;
}

button {
  width: 69px;
  height: 36px;
}

.btnContainer :nth-of-type(1):not(span) {
  border: 1px solid #C4C7D1;
  border-radius: 2px 0px 0px 2px;
}

.btnContainer :nth-child(2):not(span)  {
  border: 1px solid #C4C7D1;
  border-radius: 0px 2px 2px 0px;
}

.enable {
  background-color: #F2F5FA;
}

.disable {
  background-color: #FFFFFF;
}

.btnText {
  width: 45px;
  height: 36px;
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 36px;
  color: #434652;
}