@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300,100italic,100);
@import url(http://fonts.cdnfonts.com/css/sf-ui-display);

.container {
  display: flex;
  flex-direction: column;
}

.containerTile {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 52px 0 52px;
}

.btnContainer {
  display: flex;
  flex-direction: row;
  padding: 189px 52px 0 52px;
  margin-bottom: 15px;
}

.btnContainer :nth-child(1):not(span, div) {
  border: 1px solid #C4C7D1;
  border-radius: 2px 0px 0px 2px;
}

.btnContainer :nth-child(2):not(span, div)  {
  border: 1px solid #C4C7D1;
  border-radius: 0px 2px 2px 0px;
}

.select {
  width: 69px;
  height: 36px;
}

.enable {
  background: linear-gradient(180deg, #F3F3F5 0%, #D8DAE0 100%);;
}

.disable {
  background: linear-gradient(180deg, #FFFFFF 0%, #F3F3F5 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btnText {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 400;
  color: #434652;
}

.action {
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
}

.add {
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #21A5B9;
  width: 96px;
  height: 36px;
  border: 1px solid #21A5B9;
  border-radius: 4px;
  margin-right: 60px;
}

.addText {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 36px;
  color: #FFFFFF;
}
